h1{
    font-family: 'ADLaM Display', cursive;
}
h2{
    font-family: 'ADLaM Display', cursive;
    font-size: 40px;
}
body{
    background-color: rgb(255, 255, 255);
}
img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
#prompt{
    margin: 0;
}
#GameBoard{
    width: 50%;
    height: 90vh;
    border: 2.5px solid;
    background-image: url(PotatoDogBackground.png);
    background-size: cover;
    margin: auto;
    float: right;
}
#PotatoDog{
    width: 300px;
    height: 150px;
    position: relative;
    top: 650px;
    background-image: url(PotatoDog.png);
}
#mud{
    width: 250px;
    height: 150px;
    position: absolute;
    background-image: url(mudtexture.png);
    background-size: cover;
    animation: mud;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: unset;
    bottom: 0px;
}
#mud1{
    width: 250px;
    height: 150px;
    position: relative;
    background-image: url(mudtexture.png);
    background-size: cover;
    left: 275px;
    bottom: 75px;
    animation: mud1 forwards;
    animation-duration: 120s;
    animation-timing-function: linear;
}
#mud2{
    width: 250px;
    height: 150px;
    position: relative;
    background-image: url(mudtexture.png);
    background-size: cover;
    left: 500px;
    bottom: 300px;
    animation: mud2 forwards;
    animation-duration: 180s;
    animation-timing-function: linear;
}
@keyframes mud{
    0%{top: 150px;}
    100%{top: 800px;}
}
@keyframes mud1{
    0%{top: -75px;}
    100%{top: 650px;}
}
@keyframes mud2{
    0%{top: -300px;}
    100%{top: 500px;}
}
@keyframes potato{
    0%{left: 0px}
    100%{left: 270px}
}
@keyframes potato2{
    0%{left: 270px}
    100%{left: 540px}
}
@keyframes potato3{
    0%{left: 540px}
    100%{left: 810px}
}
.potatowalk {
    animation: potato 2s forwards;
}
.potatowalk2 {
    animation: potato2 2s forwards;
}
.potatowalk3 {
    animation: potato3 2s forwards;
}
#Nomargin{
    margin: 0;
}
#notopmargin{
    margin-top: 0;
}