h1{
    font-family: 'ADLaM Display', cursive;
    font-size: 50px;
}
h2{
    font-family: 'ADLaM Display', cursive;
    font-size: 40px;
}
body{
    background-color: cadetblue;
}
.hiddenFrame{
    height:1px;
    width:1px;
    opacity: 0;
    }
img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}